<div class="form">
<%= form_for @expences, url: expences_update_path(user_id: current_user.id,:id => @expences), method: :patch do |f| %>

	<%= render "errors" %>
	<h3> Expences Details </h3>
	 <p>
		<%= f.label :category, 'Category :' %>
		<%= f.collection_select(:category, ExpenceCategory.all, :expence_source, :expence_source, {prompt: "Please Select Category"}, {:class=>'form-control'}) %>
	 </p>

	 <p>
	   <%= f.label :amount, 'Amount :' %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
	   <%= f.text_field :amount,:placeholder => " Enter amount here." %>
	 </p>

	 <p>
	   <%= f.label :date, 'Date :'%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
	   <%= f.date_field :date %>
	 </p>

    <%= f.submit "S U B M I T", class: "btn btn-primary" %>
<% end %>
</div>